$base-black: #000000;
$base-white: #ffffff;
$base-grey: #636363;
$light-grey: #B8B9BC;
$lightest-grey: #ECECED;
$base-success: #53D86A;
$base-blue: #2188D9;
$light-blue: #F1F5F8;
$base-error: #FF3D00;