@import '../../../shared/styles/colors/colors';

.submissions {

    &__container {
        position: relative;
    }

    &__view-toggler {
        width: 100%;
    }

    &__input {

        font-size: 16px !important;

        &-icon {
            margin-right: 12px;
        }

        &-placeholder {
            color: $light-grey;
        }
    }

    &__actions {
        position: absolute;
        z-index: 100;
        margin-right: 265px;
        padding-left: 10px;

        &__input,&__select-box {
            margin-right: 40px;
        }

        &__input {
            width: 334px;
        }

        &__datepicker {
            &-icon {
                margin-right: 10px;
            }
        }
        
    }

    &__icon {
        color: $light-grey !important;
    }

    &__placeholder {
        color: #060C1B;
    }

    &__export-btn {
        display: flex;
        align-items: center;
        margin-left: 17px;
        margin-right: 10px;
        color: $base-blue;
        font-weight: 500;
        font-size: 16px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        transition:  0.3s ease-in-out; 
        border-radius: 4px;

        &__icon {
            -webkit-mask: url(../../../assets/icons/download-icon.svg) no-repeat center;
            mask: url(../../../assets/icons/download-icon.svg) no-repeat center;
            background-color: $base-blue;
            width: 20px;
            height: 17px;
            transition:  0.3s ease-in-out; 
        }

        &:hover {
            background-color: $base-blue;
            color: $base-white;

            .submissions__export-btn__icon {
                background-color: $base-white;
            }
        }

        &:active {
            animation: press 0.3s 1 linear;
        }
    }
}

@keyframes press {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    to {
      transform: scale(1);
    }
}