<div class="submission-map">
    <div class="submission-map__list">
        <app-submission-card
            *ngFor="let submission of submissions"
            [submission]="submission">
        </app-submission-card>
    </div>
    <div class="submission-map__google-map">
        <google-map
            height="100%"
            width="100%"
            [center]="center"
            [options]="options">

            <map-marker
                *ngFor="let submission of submissions, let i = index"
                [position]="submission.position"
                [title]="submission.task"
            ></map-marker>
        </google-map>
    </div>
</div>
